<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"><%= @todo.title %> - due to <%= @todo.due_date %></span>
        <p><%= @todo.description %></p>
      </div>
      <div class="card-action">
        <%= link_to 'Edit todo', edit_todo_path(@todo) %>
        <%= link_to 'Delete todo', todo_path(@todo), :method => :delete %>
      </div>
    </div>
  </div>
</div>
